*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

.btn{
	background-color: #e6e6e6;
	background-image: linear-gradient(180deg, #e6e6e6, #ddd);
	border: 0;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgb(0,0,0,.2);
	box-sizing: border-box;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	letter-spacing: .1px;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
}

.btn.btn-large{
	font-size: 20px;
	min-width: 112px;
	min-height: 48px;
	padding: 14px 2em;
}

.hvr-radial-out {
	transform: translateZ(0);
	box-shadow: 0 1px 0 rgba(0,0,0,.45);
	overflow: hidden;
	background: #e1e1e1;	
	transition-property: color;
	transition-duration: 0.5s;
}

.hvr-radial-out:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #e50914;
	background-image: linear-gradient(180deg,#e50914,#db0510);
	border-radius: 100%;
	transform: scale(0);
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

.hvr-radial-out:hover, 
.hvr-radial-out:focus, 
.hvr-radial-out:active {
	color: white;
}
  
.hvr-radial-out:hover:before, 
.hvr-radial-out:focus:before, 
.hvr-radial-out:active:before {
	transform: scale(2);
}