:root{
	--colorPrimary : #181818;
	--colorWhite : #fff;
	--text-grey-color : #a3a3aa;
}

body{
	background-color: var(--colorPrimary);
}

.movieCard{
	height: 100vh;
	position: relative;
}

.movieCard img{
	height: 100%;
	object-fit: cover;
}

.movieCard figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	color: var(--colorWhite);
	background-image: linear-gradient(
		90deg,
		#181818 10%,
		hsla(0, 0%, 9%, 0.98)20%,
		hsla(0, 0%, 9%, 0.97)25%,
		hsla(0, 0%, 9%, 0.95)35%,
		hsla(0, 0%, 9%, 0.94)40%,
		hsla(0, 0%, 9%, 0.92)45%,
		hsla(0, 0%, 9%, 0.9)50%,
		hsla(0, 0%, 9%, 0.87)55%,
		hsla(0, 0%, 9%, 0.82)60%,
		hsla(0, 0%, 9%, 0.75)65%,
		hsla(0, 0%, 9%, 0.63)70%,
		hsla(0, 0%, 9%, 0.45)75%,
		hsla(0, 0%, 9%, 0.27)80%,
		hsla(0, 0%, 9%, 0.15)85%,
		hsla(0, 0%, 9%, 0.08)90%,
		hsla(0, 0%, 9%, 0.03)95%,
		hsla(0, 0%, 9%, 0)
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
}

.movieCard h3{
	animation: all 0.5s linear;
	cursor: pointer;
}

.movieCard h3:hover, 
.movieCard h3:focus, 
.movieCard h3:active{
	transform: skew(25deg);
}

